@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Hanunoo&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

body {
  background-color: rgba(7, 6, 37, 255);
  color: whitesmoke;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans Hanunoo", sans-serif;
}

p,
a,
li,
span {
  font-family: "Oswald", sans-serif;
}

/* Header styling */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 0.2px solid white;
}

nav h2 {
  font-weight: 200;
  font-size: 0.9rem;
}

nav .menu {
  display: none;
}

nav a {
  letter-spacing: 0.3rem;
}

@media screen and (min-width: 838px) {
  nav .menu {
    display: flex;
    font-size: 0.8rem;
    gap: 1.5rem;
    font-weight: 100;
  }
}

/* Hero section styling */

.hero {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 3rem auto;
  align-items: center;
  max-width: 500px;
}

.hero p {
  color: rgb(211, 211, 211);
}

.src-text {
  color: gray;
}

.wiki-text {
  color: rgb(211, 211, 211);
  text-decoration: underline;
  margin-inline: 0.5rem;
}

.hero-container {
  /* max-width: 500px; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.earth-tags li {
  border: 1px solid white;
  display: flex;
  gap: 1.5rem;
  letter-spacing: 0.8;
  padding: 1rem;
  max-width: 500px;
  margin-bottom: 1rem;
}

.earth-tags li:hover {
  background-color: blueviolet;
  cursor: pointer;
  border: blueviolet;
}

@media screen and (min-width: 838px) {
  .hero {
    flex-direction: row;
    gap: 5rem;
    max-width: 1000px;
  }
}
